.product{
	height: 400px;
}
.shadow{
	box-shadow: none;
}
h4{
	font-weight: bold;
}
.pcontent:hover{
	-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;
	border: 3px solid gold;
	border-radius: 20px;
}
.pimage{
	width: 100%;
	height: auto;
}
.pbody{
	position: relative;
}
.pcontent:hover .pimage{
	-moz-transition: 0.4s;-o-transition: 0.4s;-webkit-transition: 0.4s;transition: 0.4s;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	opacity: 50%;
}
.textbox{
	font-family: ¸¼Àº°íµñ;
	position: absolute;
	width: 90%;
	top: 10%;
	text-align: center;
	color: black;
	opacity: 0;
}
.pcontent:hover .textbox{
	opacity: 100%;
}

div.price{
	border: 0;
	font-size: 20px;
	text-decoration: bold;
	color: red;
	background: rgba(0, 0, 0, 0);
}
ul>li>a, div.pcontent {
	cursor: pointer;  
}

