body {
	position: relative;
	margin: 0;
}
.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}
#myNavbar {
	margin-left: 18%;
}
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

/*紐⑤떖: �떆�옉 */
.modal {
        text-align: center;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
/*紐⑤떖: �걹 */